Project2/x64/Debug/
Project2/x64/Release/
Project2/Project2/x64/Debug/
Project2/Project2/x64/Release/
Project2/Debug/
Project2/Release/
Project2/Project2/Debug/
Project2/Project2/Release/
Project2/.vs